<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.nutee.server.repository.mapper.CommentMapper">
<!-- Todo
    주석 작성 & 코드 확인-->
    <insert id="write" useGeneratedKeys="true" keyProperty="id" parameterType="Comment">
        INSERT INTO COMMENT (contents, userId, anonymous) VALUES (#{contents, #{userId}, #{anonymous});
    </insert>

</mapper>